<h1>Welcome to Seat Your Self </h1>
<% if current_user %>
<%@restaurants.each do |r| %>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><%= r.name %>
        </a><div class="btn btn-default"><%= link_to 'Make A Resy', "/restaurants/#{r.id}" %></div>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       	Details
      </div>
    </div>
  </div>
  <% end %>
<% end %>